html {
  scroll-behavior: smooth;
}


body{
   
    overflow: none;
     margin: 0;
  color: #11144c;
  font-family: "Work Sans", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

form{
background-color: #2d9cdb;

}

a:hover{
    
   text-decoration: none;
    
}
.nav{
    
    padding-left:0px;
} 

nav.navbar-default{
background-color: #ffffff;
width:100%;
  height:100px;
  padding-right:150px;
  
}


.navbar-default .navbar-nav > li > a {
    color: #333333;
   font-family: Lato;
font-style: normal;
font-size: 15px;
/*display: flex;*/
align-items: center;
text-align: center;
  font-weight: bold;
  padding: 40px 30px ; 
  }

 
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav >
 li > a:hover{
    color: #2d9cdb;
    
  }

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #5e5e5e;
    font-family: Leckerli One;
font-style: normal;
font-weight: normal;
font-size: 24px;
/*display: flex;*/
align-items: center;
text-align: center;
}




html,
body,
img,
figure {
  max-width: 100%;
}
html,
body {
  overflow-x: hidden;
  color: #000;
  -ms-overflow-style: scrollbar;
  -webkit-font-smoothing: antialiased;
}
a,
a:hover,
a:focus
 {
  text-decoration: none;
  color: inherit;
}
a {
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

 li.current-menu-item a{
  color: #2d9cdb !important;
   
  }

  

.ct-u-paddingTop10 {
  padding-top: 10px !important;
}
.ct-footer {
  background-color: #2F2F2F;
  padding-top: 0px;
  margin-top: 20px;
  position: relative;
  width: 100%;
}
.ct-footer-pre {
  width: 100%;
  padding-bottom: 30px;
  padding-top: 30px;
  border-bottom: 1px solid #555;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.ct-footer-pre span {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #ebebeb;
  font-size: 27px;
  padding-left: 200px;
}
.ct-footer-pre p {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #ebebeb;
  font-size: 16px;
  padding-left: 200px;
}
.ct-footer-pre .form-group {
  position: relative;
  margin: 0;
  width: 487px;
}
.ct-footer-pre .form-group:before,
.ct-footer-pre .form-group:after {
  content: '';
  display: table;
}
.ct-footer-pre .form-group:after {
  clear: both;
}
.ct-footer-pre .form-group input {
  border: 1px solid #00bff3;
  background-color: #fff;
  color: #020000;
  height: 50px;
  padding: 0 30px;
  margin: 0 1px;
  border-radius: 0 !important;
}
.ct-footer-pre .form-group button {
  height: 50px;
  position: relative;
  padding: 0;
  width: 150px;
}
.ct-footer-list {
  padding: 20px 0px 0px 1px;
  list-style: none;
  display: table;
  width: 100%;
  border-bottom: 1px solid #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.ct-footer-list > li .ct-footer-list-header {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #ffffff;
font-style: normal;
font-weight:;
font-size: 20px;
display: flex;
align-items: center;
}
.ct-footer-list > li ul {
  list-style: none;
  padding-left: 0;
}
.ct-footer-list > li ul li a, .ct-footer-list > li ul li p{
  color: #BDBDBD;
}
.ct-footer-list > li ul li a:hover,
.ct-footer-post a:hover {
  text-decoration: underline;
}
.ct-footer-post {
  background: #333333;
  padding: 30px 0;
}
.ct-footer-post .inner-right {
  padding: 0px 50px;
}
.ct-footer-post ul {
  list-style: none;
  padding-left: 0;
  margin: 0 -20px;
}
.ct-footer-post ul li {
  display: inline-block;
  margin: 0 20px;
}
.ct-footer-post p, a{
  color: #BDBDBD;
}

.ct-footer-meta .ct-socials {
  padding: 20px 0;
}
.ct-footer-meta .ct-socials li {
  padding: 0 3px;
}
.ct-footer--with-button {
  padding-top: 150px;
}
address {
  color: #fff;
  display: inline-block;
}
address span {
  font-weight: 600;
}
address a {
  color: #fff;
}
address a:hover {
  text-decoration: underline;
}
.btn {
  font-family: 'Open Sans Condensed', sans-serif;
  border-radius: 0;
  border: none;
  text-transform: capitalize;
  color: #fff;
  font-size: 20px;
  padding: 12px 30px;
}
.btn.btn-motive {
  background-color: #0A4076;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}
.btn.btn-motive:hover,
.btn.btn-motive:hover:active {
  background-color: #00bff3;
}
.btn.btn-violet {
  color: #fff;
  background-color: #4f4f99;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}
.btn.btn-violet:hover {
  background-color: #37376b;
}
.btn.btn-violet:hover:active {
  background-color: #2f2f5b
}
.btn.btn-green {
  color: #fff;
  background-color: #43670f;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}
.btn.btn-green:hover {
  background-color: #36520c;
}
.btn.btn-green:hover:active {
  background-color: #314a0b;
}
.btn.btn-red {
  color: #fff;
  background-color: #da2229;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}
.btn.btn-red:hover {
  background-color: #ae1b21;
}
.btn.btn-red:hover:active {
  background-color: #9d181e
}
.btn.btn-white {
  background-color: #fff;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}
.btn.btn-white:hover {
  background-color: #d9d9d9;
}
.btn.btn-white:hover:active {
  background-color: #c9c9c9
}
.btn.btn-large {
  padding: 20px 50px;
  font-size: 30px;
  white-space: normal;
}
.ct-mediaSection {
  background-attachment: fixed;
}
.ct-section_header--type1 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #000;
  font-size: 115px;
  text-transform: uppercase;
}
.ct-section_header--type2 small {
  font-family: 'coquette', fantasy;
  font-size: 58px;
  line-height: .7;
  display: block;
  font-weight: 700;
  position: relative;
  left: -12px;
}
.ct-section_header--type2 span {
  font-family: 'Bebas Neue';
  font-size: 115px;
  line-height: .8;
}
.ct-section_header--type2 img {
  display: inline-block;
  float: left;
  position: relative;
  top: 15px;
  padding-right: 3px;
}
.ct-section_header--type3 {
  text-align: center;
}
.ct-section_header--type3 small {
  font-family: 'coquette', fantasy;
  font-size: 50px;
  padding: 15px 0;
  font-weight: 700;
  color: #fff;
  background-image: url("/core/fileparse.php/16/urlt/../images/ribbon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: block
}
.ct-section_header--type3 span {
  font-family: 'Bebas Neue';
  font-size: 150px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: .85
}
.ct-section_header--type4 {
  text-align: center;
}
.ct-section_header--type4:before,
.ct-section_header--type4:after {
  content: '';
  display: table
}
.ct-section_header--type4:after {
  clear: both
}
.ct-section_header--type4 small {
  font-family: 'coquette', fantasy;
  font-size: 50px;
  color: inherit;
  font-weight: 700;
  display: block
}
.ct-section_header--type4 span {
  font-family: 'nimbus-sans-condensed', sans-serif;
  font-weight: 400;
  font-weight: bold;
  font-size: 150px;
  text-transform: uppercase;
  display: block;
  line-height: .7
}
.ct-section_header + p {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -1.5px;
  text-align: center;
}
.ct-section_header--type4 + p {
  font-family: 'nimbus-sans-condensed', sans-serif;
  font-weight: 400;
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
}

/* Media Queries */

@media (min-width:1200px) {
  .ct-footer-pre {
    display: table;
    background-color: #2D9CDB;
    width: 100%;
  }
  .ct-footer-pre > .inner {
    display: table-cell;
    vertical-align: middle;
  }
  .ct-footer-list > li {
    width: 20%;
    display: table-cell;
    vertical-align: top;
  }
  .ct-footer-list > li:last-child {
    width: 7%;
  }
}

@media (max-width:1199px) {
  .ct-footer-pre .form-group {
      padding-top: 15px
  }
}
@media (max-width: 1199px) {
  .ct-footer-list > li {
    display: inline-block;
    float: left;
  }
}
@media (min-width:992px) {
  .ct-footer-post .inner-left {
    float: left;
  }
  .ct-footer-post .inner-right {
    float: left;
  }
}
@media (max-width:991px) {
  .ct-footer-post {
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .ct-footer-list > li {
    width: 33.3333%;
  }
}
@media (min-width:768px) {
  .ct-footer-post p {
    display: inline-block;
  }
  .ct-footer-post p + p {
    padding-left: 50px;
  }
}
@media (max-width:767px) {
  address {
    padding-top: 30px;
  }
}
@media (min-width: 480px) and (max-width:767px) {
  .ct-footer-list > li {
    width: 50%;
  }
}
@media (min-width:480px) {
  .ct-footer-pre .form-group button {
    top: -1px;
  }
  .ct-footer-pre .form-group input {
    width: 331px;
  }
}
@media (max-width:479px) {
  .ct-footer-pre .form-group input {
    float: left;
    width: 70%;
    margin: 0;
  }
  .ct-footer-pre .form-group button {
    float: left;
    width: 30%;
  }
  .ct-footer-list > li {
    width: 100%;
    text-align: center;
  }
  .ct-footer-list {
    padding: 20px 0;
  }
  .btn.btn-large {
    padding: 20px 10px;
    line-height: .9;
    font-size: 26px;
    letter-spacing: -.2px;
  }
  .ct-section_header--type1 {
    font-size: 60px;
    line-height: .8;
  }
  .ct-section_header + p {
    font-size: 22px;
  }
  .ct-section_header--type3 small {
    font-size: 25px;
  }
  .ct-section_header--type4 small {
      font-size: 40px;
  }
  .ct-section_header--type3 span {
    font-size: 90px;
  }
  .ct-section_header--type4 span {
      font-size: 80px;
  }
  .ct-section_header--type4 + p {
    font-size: 28px;
      }  
 }

 .ct-footer-post .inner-right .ft-social-icons-group{
	float: right;
padding-left: 120px;
 }
.ct-footer-post .inner-right .ft-social-icons{
	border-radius: 50%;
 	height:35px;
 	width:35px;
 	border: 2px solid  #BDBDBD;
 	float: left;
 	padding: 7px 11.5px;
 
	margin: 5px 5px;
 }

 .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;

       color: white;
      

    }

   /* .primary-nav ul li.current-menu-item a{color: #bca474;}
    *uncomment if there is trouble
   */


    /*carousel starts*/

/* image Gallery*/
div.gallery-group:hover {
  border: 1px solid #777;
}

div.gallery-group img {
  width: 250px;
  height: 200px;
padding: 10px;


}
div.gallery-group h3 {
 position: relative;
 left: 100px;
 padding-left: 20%;
 font-size: 20px;
}
div.desc {
  padding: 15px;
  text-align: center;
}
.gallery-group{
  width: 100%;

}

div.gallery1, div.gallery2, div.gallery3{
  float: left;
  width:100%;
  padding-left: 200px;
 }
div.gallery1, div.gallery3{

padding-left: 300px;
}

div.gallery1{
    padding-top: 90px;
}

div.gallery2{
background: #E6F0F9;
  }

  div.image-with-text{

text-align: justify;
width: 250px;

  }

  div.image-with-text img{
display: block;
margin: 0 auto;


  }

   div.image-with-text p{
font-size: 14px;
text-align: left;
padding-left: 10px;
font-family: Lato;
line-height: 29px; 
}

  div.image-with-text span {
font-size: 14px;
text-align: right;
padding-left: 50px;
font-family: Lato;
line-height: 29px; 

}

div.image-with-text p.img-with-text{

text-align: center;  
font-size: 14px;
font-family: Lato;
line-height: 29px; 
}
 /*
#############################################################
######### IF THERE IS ISSUE WITH THE GALLERY CONSIDER##########
###########RESURRECTING THIS SECTION STYLE####################
##############################################################
 .gallery1{

  position: absolute;
  left: 250px;
  top: 800px;
 }
 .gallery2{

  position: absolute;
  left: 100px;
  top: 1050px;
 }
 .gallery3{

  position: absolute;
  left: 250px;
  top: 1300px;
 }*/


/*Style for the other pages aside the home/frontpage*/
 div.pages-top{
position: absolute;
width: 1440px;
height: 100px;
/* identical to box height */
color: #FFFFFF;
background: #2D9CDB;
top: 100px;
 }


 div.pages-top h1{


font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 25px;
/* identical to box height */
text-align: left;
padding: 20px 0 0 70px;
color: #FFFFFF;

 }

 div.pages-top-next{

position: absolute;
width: 1440px;
height: 70px;
left: 0px;
top: 200px;

/* Gray 6 */

background: #F2F2F2

 }
div.pages-top-next h2{
position: absolute;
left: 0px;
top: -15px;
font-family: Lato;
padding: 0px 0px 0px 70px;
font-size: 20px;
color: #828282
 }

 
 div.page-header-img{
  width: 100%;
  position: absolute;
  top: 271px;
  height: 600px;
  
   }

 div.page-header-img img{
  position: absolute;
  top: 0px;
  left: 70px;
width: 1200px;
height: 593px;
background: url(../images/rooms/header.png), #C4C4C4;
 }

p.page-header-text{
  position: absolute;
left: 70px;
top: 600px;

font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 35px;
/* identical to box height */
color: #2D9CDB;

}
p.page-header-text-2{
  position: absolute;
top: 600px;
left: 580px;
font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;
/* identical to box height */
color: #333333;


}

div.page-header-img span{
 position: absolute;
right: 75px;
top: 600px; 
font-size: 24px;
line-height: 35px;
color: #309559;

}


 p.page-header-desc
 {
position: absolute;
left: 70px;
right: 75px;
top: 650px; font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 29px;
display: flex;
align-items: center;
color: #828282;

 }
div.page-gallery-group{

  position: absolute;
  top: 1000px;
  width: 1200px;
  right: 75px;
 /* background: red;*/
  height: 880px;
 }

div.page-gallery-group img {
   height: 270px;
  width: 400px;
padding: 0px 15px 0px 0px;

}



div.page-gallery1, div.page-gallery2{

  float: left;
  width: 1200px;
  height: 300px;

}
div.page-gallery1{
  position: relative;
  top: 50px;
  left: 0px;
/*    background: blue;*/
  float: left;


}

div.page-gallery2{
    position: relative;
  top: 180px;
  left: 0px;
/*   background: black;*/
}

div.page-img-div{

 background: rgba(230, 240, 249, 0.7);
  height: 135px;
  width: 385px;
  padding: 0px;
  
}

div.last{

  width: 400px;
  
}

div.page-image{

text-align: justify;
width: 400px;

  }

   div.page-image img.last{
padding-right: 0px;
  }
 div.page-img-div p:first-child{
  /*position: absolute;
  left: 20px;*/
font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 32px;
padding: 0px 30px 0px 30px;
color: #333333;
}

  div.page-img-div p{
font-size: 20px;
font-family: Lato;
line-height: 29px; 
padding: 0px 30px 0px 30px;
color: #828282;
}

div.price-tag{
  position: absolute;
  top: 0px;
  background: #309559;

  width: 70px;
  height: 30px;
}

div.price-tag p{
  color: #FFFFFF;
  font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
display: flex;
align-items: center;
text-align: center;
padding: 5px 0px 0px 10px;
}

button.btn.btn-primary {
    margin-left: 10px;
    padding: 12px 20px;
    text-transform: uppercase;
    line-height: 1;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -webkit-appearance: button;
    display: inline-block;
    position: absolute;
    right: 13px;
    top: 28px;
    font-size: 14px;
  }

 div.footer-pages{
position: absolute;
top: 2000px;
width: 100%;
 }
